:root {
    --primary-color: #e0e5ec;
    --secondary-color: #a3b1c6;
    --tertiary-color: #ffffff;
    --text-colour: #000000;
    --scroll-colour: #000000;
    --scroll-background: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #1a1a1a;
        --secondary-color: #2d2d2d;
        --tertiary-color: #000000;
        --text-colour: #ffffff;
        --scroll-colour: #ffffff;
        --scroll-background: #000000;
    }
}

body {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    color: var(--text-colour);
}

.container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

.neuromorphic-textarea {
    width: 50vw;
    height: 20vw;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background: var(--primary-color);
    box-shadow: 8px 8px 15px var(--secondary-color), -8px -8px 15px var(--tertiary-color);
    resize: none;
    outline: none;
    color: var(--text-colour);
    font-size: 1.2rem;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-colour) var(--scroll-background);
}

@media screen and (max-width: 768px) {
    .neuromorphic-textarea {
        width: 80vw;
        height: 40vw;
    }
}

.radio-buttons {
    margin-bottom: 20px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons label {
    background: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 0 5px;
    box-shadow: 5px 5px 10px var(--secondary-color), -5px -5px 10px var(--tertiary-color);
    cursor: pointer;
}

.radio-buttons input[type="radio"]:checked+label {
    box-shadow: inset 5px 5px 10px var(--secondary-color), inset -5px -5px 10px var(--tertiary-color);
}

.result {
    margin-top: 20px;
    background: var(--primary-color);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--secondary-color), -5px -5px 10px var(--tertiary-color);
}